
.fb-comments {
    animation-name: fade;
    animation-duration: 4s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.fb-comments {
    background-image: url(https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg);
    border: 10mm;
    border-radius: 5mm;
    border-width: 10mm;
    border-image: url(https://cdn.discordapp.com/attachments/881151293022957598/899330913392013382/sf1-1-1-1-4.gif);
}