.img-container {
    animation-name: fade;
    animation-duration: 4s;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  img:hover {
    border-width: 5px;
    border-color: rgb(0, 0, 0);
    background-color: aqua;
    border-radius: 5px;
    padding: 1rem;
    transition: 300ms ease-in-out;
    opacity: 0.6;
  }